body {
  font-family: "Open Sans", sans-serif; 
  background: url(/assets/images/bg.jpg);
  background-size: cover; }

.boxStyle {
   background-color: rgba(255, 255, 255, 0.829);
   border: solid #82e7df;}

hr {
  border: 2px solid #82e7df;;
}

.imgBorder {
  border-bottom: 2px solid #000000;}

.accordionHeader {
  background-color: #8afaa28e;}

h1{
  font-size: 70px;
}
h1, h2, h3 {
  font-family: "Lobster", cursive; }

header h2 {
  font-size: 20px;
  color: #000000; }
 
.site-footer {
  background-image: linear-gradient(#82e7df, white);
  padding: 15px;
  position: absolute;
  width: 100%; }

.jumbotron {
  margin: 0;
  padding: 15px;
  background-image: linear-gradient(to right,  #b189fa, #fa89d8, #f8c58b, #f4f682, #8afaa3, #82e7df, #82b6e7); 
  color: black; }

.row-content {
  padding: 18px;
  min-height: 200px; }

.COVID-row-content {
    padding: 18px; }

.navbar {
  background-color: #82e7df; }

.carousel-caption {
  background-color: #c0bebedc;
  color: black;
  border: solid #000000;
  border-width: thin;}

#map {
  border: solid #82e7df;
}
  

